<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">    <title>Code blog</title>
</head>
<body>
    <main>
        
            
    <nav>
        <ul>
          <li><a class="active" href="/login">Log in</a></li>
          {{!-- Only show if logged in  --}}
        <li><a class="active" href="/login">Log out</a></li>
          {{!-- If logged in this won't show on the nav bar --}}
          <li><a class="active" href="/signup">Sign up</a></li>
          {{!-- If not logged in this wont show --}}
          <li><a class="active" href="/profile">Profile</a></li>
          <li><a class="active" href="/">Home</a></li>
        </ul>
    </nav>
  
    {{{body}}}

   <footer>
    <p>Created By: Team Oracle</p>
    <p>Check out this project on GitHub: <a href="https://github.com/Charl1410/tech-blog" >Team Oracle GitHub</a> </p>

   </footer>
       
    </main>
    
</body>
</html>