<div class="title">
         <img id="logo" src = "../project-2-views/logo.png"> 

        <p class="mono-font">O R A C O D E</p>
        <p class="monospace">For all your coding needs</p>
</div>

            <div class="card-container">
                {{#each posts as |post|}}
                {{> post-item}} 
                 {{/each}}
              </div>

<script type="text/javascript" src="../js/index.js"></script>

{{#if logged_in}}
<script src="../js/comment.js"></script>
{{/if}}
     
   
