<div class="title">
        <img id="logo" src = "../project-2-views/logo.png">

        <p class="mono-font">CODE BLOG</p>
        <p class="monospace">For all your coding needs</p>
</div>

            <div class="card-container">
                {{#each posts as |post|}}
                {{> post-item}} 
                 {{/each}}
              </div>

<script type="text/javascript" src="../Public/js/index.js"></script>
    

               

     
   
