 <div class="title">
        <p class="mono-font">CODE BLOG</p>
        <p class="monospace">For all your coding needs</p>
      </div>

  <div class="title">
        <img id="logo" src = "logo.png">

        <p class="mono-font">CODE BLOG</p>
        <p class="monospace">For all your coding needs</p>
      </div>

    <div class="card-container">
        {{#each posts as |post|}}
      </div>
      <div class="card">
        <p class="blog-title">{{post.post_title}}</p>
        <p>{{post.date_created}}</p>
        <p class="posted-by">By: Charlotte Griffin</p>

<p>{{post.post_content}}</p>        
        <div class="interaction-bar">
         <button>Comment</button>
         <button>Upvote</button>
         <button>Downvote</button>
         <button>Save to reading list</button>
        </div>
         <div>
          
        {{/each}}

        {{#each comments as |comment|}}

              <textarea class="comments">Comment</textarea> <button>Add Comment</button>     
           </div>

           <div class="loaded-comments">
            <p>Generated comments go here</p>
           </div>

        {{/each}}
      </div>

     
 

      {{!-- <div class="card">
        <p class="blog-title">Blog Title</p>
        <p class="posted-by">By: </p>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet eget sit amet. At ultrices mi tempus imperdiet nulla malesuada. Egestas sed tempus urna et pharetra pharetra massa massa. Nulla pharetra diam sit amet. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Felis donec et odio pellentesque diam volutpat commodo. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Volutpat maecenas volutpat blandit aliquam. In hac habitasse platea dictumst vestibulum rhoncus est. Ut etiam sit amet nisl purus in. Tincidunt dui ut ornare lectus sit amet est placerat. Amet dictum sit amet justo. Quis viverra nibh cras pulvinar mattis. Turpis massa sed elementum tempus egestas.</p>
        
         <div class="interaction-bar">
         <button>Like</button>
         <button>Upvote</button>
         <button>Downvote</button>
         <button>Save to reading list</button>
      
        </div>
      </div>
      
      <div class="card">
        <p class="blog-title">Blog Title</p>
        <p class="posted-by">By: </p>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet eget sit amet. At ultrices mi tempus imperdiet nulla malesuada. Egestas sed tempus urna et pharetra pharetra massa massa. Nulla pharetra diam sit amet. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Felis donec et odio pellentesque diam volutpat commodo. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Volutpat maecenas volutpat blandit aliquam. </p>
        
        <div class="interaction-bar">
          <button>Like</button>
          <button>Upvote</button>
          <button>Downvote</button>
          <button>Save to reading list</button>
       
         </div>
      </div>

      <div class="card">
        <p class="blog-title">Blog Title</p>
        <P class="posted-by">By: </P>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet eget sit amet. At ultrices mi tempus imperdiet nulla malesuada. Egestas sed tempus urna et pharetra pharetra massa massa. Nulla pharetra diam sit amet. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Felis donec et odio pellentesque diam volutpat commodo. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Volutpat maecenas volutpat blandit aliquam. In hac habitasse platea dictumst vestibulum rhoncus est. Ut etiam sit amet nisl purus in. Tincidunt dui ut ornare lectus sit amet est placerat. Amet dictum sit amet justo. Quis viverra nibh cras pulvinar mattis. Turpis massa sed elementum tempus egestas.</p>
        
        <div class="interaction-bar">
          <button>Like</button>
          <button>Upvote</button>
          <button>Downvote</button>
          <button>Save to reading list</button>
       
         </div>
      </div> --}}
    </div>
