<div class="title">
        <img id="logo" src = "../project-2-views/logo.png">

        <p class="mono-font">CODE BLOG</p>
        <p class="monospace">For all your coding needs</p>
</div>

            <div class="card-container">
                {{#each posts as |post|}}
                {{>post}}

                <div class="loaded-comments-container">

                        {{#each comments as |comment|}}
                        {{!-- Not sure why this isnt working  --}}
                            <p>{{comment.name.user}}</p>
                            <p class="loaded-comments">{{comment.text}}</p>
        
                {{/each}}
                </div>
            </div>
    </div>
   

</div>
        {{/each}}

    
     
   
