
  <div id="body-container">
                <aside class="aside-left">
                    <header class="profile-header">
                        <p>{{name}}</p>
                    </header>
                    
                    <div class="profile-info">
                        <input type="text" id="profile-information"><br>                   
                     </div>
                </aside>

                    
                <div class="saved-post-container">
                        
                        <section class="create-post">
                            <h1>Create a new post</h1>
                            <input  class="post-title" type="text" placeholder="Post name" />
                            <input class="post-content" type="text" placeholder="What do you want to post" />
                        </section>
                        
                        <h1>View your posts!!</h1>
                                    
                            <div class="card-container">
                                {{#each posts as |post|}}
                                {{> post-item}} 
                                {{/each}}
                            </div>
                    
                </div>
        </div>

