<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Public/homepage.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="mainsignup-container">
      <h1 id="SignUpHeader"
      >Sign Up</h1>
      <form action="#">
        <input type="text" placeholder="First name" />
        <input type="text" placeholder="Last name" />
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Re-Enter Password" />
      </form>
      <button>Sign Up</button>
      <div class="Join">
        Already a member? <a href="/login"> Login Here </a>
      </div>
    </div>
  </body>
</html>